@import (once) "reset.less";

/* style.less */
/* Author: Stephen Chen 2014 */
/* ========================================================================= */

/* Variables */
/* ----------------------------------------------------- */
@theme-orange: #F6851F;
@theme-gray: #929292;
@header-height: 120px;
@value-hw: 58px;
@sm-hw: 42px;

/* Fonts */
/* ----------------------------------------------------- */
@font-face {
    font-family: 'Lane';
    src: url('../font/lane.ttf');
}

/* General */
/* ----------------------------------------------------- */
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #FFF; color: @theme-gray;
}
.container {
  width: 1024px;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
}
.container-full {
  width: 100%;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
}

/* Header */
/* ----------------------------------------------------- */
.header {
  .container;

  height: @header-height;
  line-height: @header-height;
  text-align: left;
  overflow: hidden;
}
.letterhead {
  height: @header-height - 40;
  display: inline-block;
  vertical-align: middle;
}
ul.navlist {
  position: absolute;
  top: 14px; right: 0;
  display: inline-block;
  font-family: 'Lane';

  li {
    margin-left: 40px;
    display: inline-block;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: @theme-orange;
      }
    }
  }
}

/* Talks */
/* ----------------------------------------------------- */
.talks {
  .container;

  height: 480px;
  margin-bottom: 60px;
  /* border: 1px solid #DDD; */

  h1 {
    font-family: 'Lane';
    letter-spacing: 6px;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    display: none;
  }
}
.session {
  width: 80px; height: 100%;
  position: relative;
  background: @theme-orange;

  .wrapper {
    width: 320px; height: auto;
    position: absolute;
    top: 130px; left: -120px;
    font-family: 'Lane';
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #FFF;
    transform: rotate(-90deg);
    .event {
      font-size: 32px;
    }
    .eventnum {
    }
    .date {
      padding-top: 10px;
      font-size: 24px;
      font-weight: normal;
      letter-spacing: 4px;
    }
  }
}

/* Values */
/* ----------------------------------------------------- */
.values {
  .container-full;

  padding: 5px 0;
  text-align: center;

  .value {
    width: @value-hw; height: @value-hw;
    margin: 0 90px;
    display: inline-block;
  }
}

/* About */
/* ----------------------------------------------------- */
.about {
  .container;

  font-size: 0;
}
.whoweare, .mission {
  width: 50%;
  display: inline-block;
  vertical-align: top;

  h1 {
    font-family: 'Lane';
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: @theme-orange;
  }
  p {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 200;
    line-height: 32px;
  }
}
.whoweare {
  padding: 70px 0;
  text-align: left;
}
.mission {
  padding: 70px 0;
  text-align: right;
}
.divider {
  border: 0;
  border-top: 1px solid #DDD;
}

/* Footer */
/* ----------------------------------------------------- */
.footer {
  .container-full;

  padding: 40px 0;
  text-align: center;
}
.socialmedia {
  width: @sm-hw; height: @sm-hw;
  display: inline-block;
}
.copyright {
  margin-top: 15px;
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
}
