@import (once) "reset.less";

/* style.less */
/* Author: Stephen Chen 2014 */
/* ========================================================================= */

/* Variables */
/* ----------------------------------------------------- */
@theme-orange: #F6851F;
@theme-gray: #929292;
@header-height: 120px;
@value-hw: 58px;
@sm-hw: 42px;

/* Fonts */
/* ----------------------------------------------------- */
@font-face {
    font-family: 'Lane';
    src: url('../font/lane.ttf');
}

/* General */
/* ----------------------------------------------------- */
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #FFF; color: @theme-gray;
}
.container {
  width: 1024px;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
}
.container-full {
  width: 100%;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
}

/* Header */
/* ----------------------------------------------------- */
.header {
  .container;

  height: @header-height;
  line-height: @header-height;
  text-align: left;
  overflow: hidden;
}
.letterhead {
  height: @header-height - 40;
  display: inline-block;
  vertical-align: middle;
}
ul.navlist {
  position: absolute;
  top: 14px; right: 0;
  display: inline-block;
  font-family: 'Lane';

  li {
    margin-left: 40px; margin-right: -4px; /* correct for letter spacing */
    display: inline-block;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: @theme-orange;
      }
    }
  }
}

/* Talks */
/* ----------------------------------------------------- */
.talks {
  .container;

  height: auto;
  margin-bottom: 60px;
  /* border: 1px solid #DDD; */
}
.controls {
  margin-top: 12px;
  position: absolute;
  top: 0; right: 0;
}
.navigate {
  font-size: 28px;
  color: #EEE;
  .backward {
    margin-right: 2px;
  }
  .forward {
    margin-left: 2px;
  }
}
.event {
  h1 {
    margin: 5px 0;
    font-family: 'Lane';
    letter-spacing: 6px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

    span {
      padding: 10px 14px 10px 20px; /* correct for letter spacing */
      display: inline-block;
      font-size: 24px;
      background: @theme-orange; color: #FFF;
    }
  }
}
.videos {
  width: 100%; height: 100%;
  font-size: 0;

  li {
    width: 50%; height: 50%;
    display: inline-block;
    font-size: 18px;
  }
}
.card {
  width: 100%; height: 280px;
  position: relative;
  display: inline-block;
  border: 5px solid transparent;
  vertical-align: top;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-clip: padding-box;

  .speaker, .title {
    max-width: 100%;
    position: absolute;
    right: 0;
    display: inline-block;
    font-family: 'Lane';
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
  }
  .speaker {
    padding: 10px 4px 10px 10px; /* correct for letter spacing */
    bottom: 60px;
    font-size: 18px;
    letter-spacing: 6px;
    background: @theme-orange; color: #FFF;
    z-index: 1;
  }
  .title {
    padding: 10px 8px 10px 10px; /* correct for letter spacing */
    bottom: 30px;
    font-size: 12px;
    letter-spacing: 2px;
    background: rgba(0,0,0,0.6); color: #FFF;
    z-index: 0;
  }
}

/* Values */
/* ----------------------------------------------------- */
.values {
  .container-full;

  padding: 5px 0;
  text-align: center;

  .value {
    width: @value-hw; height: @value-hw;
    margin: 0 90px;
    display: inline-block;
  }
}

/* About */
/* ----------------------------------------------------- */
.about {
  .container;

  font-size: 0;
}
.whoweare, .mission {
  width: 50%;
  display: inline-block;
  vertical-align: top;

  h1 {
    margin-right: -4px; /* correct for letter spacing */
    font-family: 'Lane';
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: @theme-orange;
  }
  p {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 200;
    line-height: 32px;
  }
}
.whoweare {
  padding: 70px 0;
  text-align: left;
}
.mission {
  padding: 70px 0;
  text-align: right;
}
.divider {
  border: 0;
  border-top: 1px solid #DDD;
}

/* Footer */
/* ----------------------------------------------------- */
.footer {
  .container-full;

  padding: 40px 0;
  text-align: center;
}
.socialmedia {
  width: @sm-hw; height: @sm-hw;
  display: inline-block;
}
.copyright {
  margin-top: 15px;
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
}
