/* reset.less */
/* Author: Stephen Chen 2014 */
/* ========================================================================= */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* style.less */
/* Author: Stephen Chen 2014 */
/* ========================================================================= */
/* Variables */
/* ----------------------------------------------------- */
/* Fonts */
/* ----------------------------------------------------- */
@font-face {
  font-family: 'Lane';
  src: url('../font/lane.ttf');
}
/* General */
/* ----------------------------------------------------- */
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #FFF;
  color: #929292;
}
.container {
  width: 1024px;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
}
.container-full {
  width: 100%;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
}
.divider {
  width: 1024px;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
  margin-bottom: 90px;
  border: 0;
  border-top: 1px solid #DDD;
}
.divider.nopad {
  margin-bottom: 0 !important;
}
/* Header */
/* ----------------------------------------------------- */
.popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}
/* Header */
/* ----------------------------------------------------- */
.header {
  width: 1024px;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
  height: 120px;
  line-height: 120px;
  text-align: left;
  overflow: hidden;
}
.letterhead {
  height: 80px;
  display: inline-block;
  vertical-align: middle;
}
ul.navlist {
  position: absolute;
  top: 14px;
  right: 0;
  display: inline-block;
  font-family: 'Lane';
}
ul.navlist li {
  margin-left: 40px;
  margin-right: -4px;
  /* correct for letter spacing */
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
}
ul.navlist li a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}
ul.navlist li a:hover {
  color: #f6851f;
  transition: 0.2s;
}
/* Talks */
/* ----------------------------------------------------- */
.talks {
  width: 1024px;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
  height: auto;
  margin-bottom: 90px;
  /* border: 1px solid #DDD; */
}
.controls {
  margin-top: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.navigate {
  font-size: 28px;
  color: #EEE;
}
.navigate .backward {
  margin-right: 2px;
}
.navigate .forward {
  margin-left: 2px;
}
.event h1 {
  margin: 5px 0;
  position: relative;
  font-family: 'Lane';
  letter-spacing: 6px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.event h1 span {
  padding: 10px 14px 10px 20px;
  /* correct for letter spacing */
  display: inline-block;
  font-size: 24px;
  background: #f6851f;
  color: #FFF;
}
.videos {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 0;
}
.videos li {
  width: 50%;
  height: 50%;
  position: relative;
  display: inline-block;
  font-size: 18px;
  perspective: 1000;
}
.videos li:hover .card,
.videos li.hover .card {
  /* flip the pane when hovered */
  transform: rotateY(180deg);
}
.card {
  transition: 0.6s;
  transform-style: preserve-3d;
}
.card-front,
.card-back {
  /* hide back of pane during swap */
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  vertical-align: top;
  border: 5px solid #FFF;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-clip: padding-box;
  backface-visibility: hidden;
}
.card-front {
  width: 100%;
  height: 280px;
  position: relative;
  transform: rotateY(0deg);
}
.card-front .speaker,
.card-front .title {
  max-width: 100%;
  position: absolute;
  right: 0;
  display: inline-block;
  font-family: 'Lane';
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
}
.card-front .speaker {
  padding: 10px 4px 10px 10px;
  /* correct for letter spacing */
  bottom: 60px;
  font-size: 18px;
  letter-spacing: 6px;
  background: #f6851f;
  color: #FFF;
  z-index: 1;
}
.card-front .title {
  padding: 10px 8px 10px 10px;
  /* correct for letter spacing */
  bottom: 30px;
  font-size: 12px;
  letter-spacing: 2px;
  background: rgba(0, 0, 0, 0.6);
  color: #FFF;
  z-index: 0;
}
.card-back {
  width: 100%;
  height: 280px;
  padding: 30px 20px;
  text-align: center;
  background: #f6851f;
  transform: rotateY(180deg);
}
.card-back .speaker {
  margin-right: -6px;
  /* correct for letter spacing */
  padding-bottom: 15px;
  font-family: 'Lane';
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #FFF;
}
.card-back .description {
  padding-bottom: 20px;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 22px;
  color: #FFF;
}
.card-back .watch {
  width: 100%;
  padding-bottom: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.card-back .watch button {
  padding: 8px 4px 8px 8px;
  /* correct for letter spacing */
  position: relative;
  display: inline-block;
  border: 1px solid white;
  font-family: 'Lane';
  letter-spacing: 4px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background: none;
  color: #FFF;
  cursor: pointer;
  transition: 0.4s;
}
.card-back .watch button:hover {
  background: #FFF;
  color: #f6851f;
  transition: 0.4s;
}
/* About */
/* ----------------------------------------------------- */
.about {
  width: 1024px;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
  margin-bottom: 90px;
  font-size: 0;
}
.whoweare,
.mission {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.whoweare h1,
.mission h1 {
  margin-right: -4px;
  /* correct for letter spacing */
  padding-bottom: 10px;
  font-family: 'Lane';
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #f6851f;
}
.whoweare p,
.mission p {
  font-size: 20px;
  font-weight: 200;
  line-height: 32px;
}
.whoweare {
  text-align: left;
}
.mission {
  text-align: right;
}
/* Values */
/* ----------------------------------------------------- */
.values {
  width: 1024px;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
  margin-bottom: 90px;
  font-size: 0;
  text-align: center;
}
.value {
  width: 33.3%;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
}
.value img {
  padding-bottom: 30px;
  height: 50px;
}
.value h2 {
  margin-right: -4px;
  /* correct for letter spacing */
  padding-bottom: 20px;
  font-family: 'Lane';
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #f6851f;
}
.value p {
  padding: 0 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  line-height: 28px;
  box-sizing: border-box;
}
/* Footer */
/* ----------------------------------------------------- */
.footer {
  width: 100%;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
  padding: 40px 0;
  text-align: center;
}
.footer > a {
  width: 42px;
  height: 42px;
  text-decoration: none;
  display: inline-block;
}
.socialmedia {
  width: 100%;
  height: 100%;
}
.contact,
.copyright {
  margin-top: 15px;
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.contact a,
.copyright a {
  color: #f6851f;
}
