/* reset.less */
/* Author: Stephen Chen 2014 */
/* ========================================================================= */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* style.less */
/* Author: Stephen Chen 2014 */
/* ========================================================================= */
/* Variables */
/* ----------------------------------------------------- */
/* Fonts */
/* ----------------------------------------------------- */
@font-face {
  font-family: 'Lane';
  src: url('../font/lane.ttf');
}
/* General */
/* ----------------------------------------------------- */
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background: #FFF;
  color: #929292;
}
.container {
  width: 1024px;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
}
.container-full {
  width: 100%;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
}
/* Header */
/* ----------------------------------------------------- */
.header {
  width: 1024px;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
  height: 120px;
  line-height: 120px;
  text-align: left;
  overflow: hidden;
}
.letterhead {
  height: 80px;
  display: inline-block;
  vertical-align: middle;
}
ul.navlist {
  position: absolute;
  top: 14px;
  right: 0;
  display: inline-block;
  font-family: 'Lane';
}
ul.navlist li {
  margin-left: 40px;
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
}
ul.navlist li a {
  text-decoration: none;
  color: inherit;
}
ul.navlist li a:hover {
  color: #f6851f;
}
/* Talks */
/* ----------------------------------------------------- */
.talks {
  width: 1024px;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
  height: 480px;
  margin-bottom: 60px;
  /* border: 1px solid #DDD; */
}
.talks h1 {
  font-family: 'Lane';
  letter-spacing: 6px;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  display: none;
}
.session {
  width: 80px;
  height: 100%;
  position: relative;
  background: #f6851f;
}
.session .wrapper {
  width: 320px;
  height: auto;
  position: absolute;
  top: 130px;
  left: -120px;
  font-family: 'Lane';
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #FFF;
  transform: rotate(-90deg);
}
.session .wrapper .event {
  font-size: 32px;
}
.session .wrapper .date {
  padding-top: 10px;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 4px;
}
/* Values */
/* ----------------------------------------------------- */
.values {
  width: 100%;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
  padding: 5px 0;
  text-align: center;
}
.values .value {
  width: 58px;
  height: 58px;
  margin: 0 90px;
  display: inline-block;
}
/* About */
/* ----------------------------------------------------- */
.about {
  width: 1024px;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
  font-size: 0;
}
.whoweare,
.mission {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.whoweare h1,
.mission h1 {
  font-family: 'Lane';
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #f6851f;
}
.whoweare p,
.mission p {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 200;
  line-height: 32px;
}
.whoweare {
  padding: 70px 0;
  text-align: left;
}
.mission {
  padding: 70px 0;
  text-align: right;
}
.divider {
  border: 0;
  border-top: 1px solid #DDD;
}
/* Footer */
/* ----------------------------------------------------- */
.footer {
  width: 100%;
  min-width: 768px;
  margin: 0 auto;
  position: relative;
  display: block;
  padding: 40px 0;
  text-align: center;
}
.socialmedia {
  width: 42px;
  height: 42px;
  display: inline-block;
}
.copyright {
  margin-top: 15px;
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
}
